In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
plt.rc('font', family='AppleGothic')
plt.rcParams["font.size"] = 12.
plt.rcParams['xtick.labelsize'] = 12.
plt.rcParams['ytick.labelsize'] = 12.
plt.rcParams['axes.unicode_minus'] = False

In [3]:
CHART_NAME = 'seabornWelfare'
cnt, PNG, UNDERBAR = 0, '.png', '_'
filename = '../data/welfare_python.csv'

In [4]:
# data load
welfare = pd.read_csv(filename, encoding = 'utf-8')

#@ data preprocessing
# gender
welfare.loc[welfare['gender'] ==1, ['gender']] = '남성'
welfare.loc[welfare['gender'] ==2, ['gender']] = '여성'
print(""); print("<Gender 변경>")
print(welfare)


# age 추가
thisyear = 2021
welfare['age'] = thisyear - welfare['birth'] +1
print(""); print("<age 컬럼 추가>")
print(welfare)


# marriage
def setMarriage(x):
    if x ==1 :
        return '결혼'
    elif x ==3 :
        return '이혼'
    else: # 결측치
        return '무응답'

welfare['marriage'] = welfare['marriage'].apply(setMarriage)


# income
print('\n# 월급 결측치 개수 구하기 before')
print(sum(welfare['income'].isnull()))
welfare.loc[welfare['income'].isnull(), 'income'] = welfare['income'].mean()
print('\n# 월급 결측치 개수 구하기 after')
print(sum(welfare['income'].isnull()))


# religion
def setReligion_txt(x):
    if int(x) == 1:
        return '있음'
    else:
        return '없음'
print("welfare['religion'].unique() : ", welfare['religion'].unique())
welfare['religion'] = welfare['religion'].apply(setReligion_txt)
print(""); print("<religion 변경>")
print(welfare)


# code_job
job_file = '../data/welfare_job.csv'
jobframe = pd.read_csv(job_file, encoding = 'cp949')

print("welfare['code_job'].unique()", welfare['code_job'].unique())
print('\n# merge()함수와 left_on, rigon_on 사용하기')
welfare = pd.merge(welfare, jobframe, left_on = 'code_job', right_on = 'code_job')
print(welfare)


# code_religion
print("welfare['code_religion'].unique()", welfare['code_religion'].unique())
def setReligion_txt(x):
    if int(x) ==1:
        return '서울'
    elif int(x) == 2:
        return '수도권'
    elif int(x) == 3:
        return '부산/경남/울산'
    elif int(x) ==4:
        return '대구/경북'
    elif int(x) ==5:
        return '대전/충남'
    elif int(x) == 6:
        return '강원/충북'
    elif int(x) == 7:
        return '광주/전남/전북/제주도'
welfare['code_religion'] = welfare['code_religion'].apply(setReligion_txt)


# ageg 추가 - 연령대
## 30대 미만 -> 청년, 30대 이상 -> 중년, 60세 이상 -> 노년
def newAge(x):
    if x<30:
        return '청년'
    elif x>=30 and x<60:
        return '중년'
    else:
        return '노년'
welfare['ageg'] = welfare['age'].apply(newAge)

print(welfare[['age', 'ageg']].head())


# column들을 한글 이름으로 변경
col_mapping = {'gender' : '성별', 'birth':'생일', 'marriage':'결혼 유무', 
               'religion':'종교 유무', 'code_job' : '직업 코드', 'income' : '소득', 
               'code_religion': '지역구', 'age' : '나이', 'job' : '직업', 'ageg' : '연령대'}
welfare = welfare.rename(columns = col_mapping)

# csv 파일로 저장
welfare.to_csv('welfareClean.csv', index = False, encoding='cp949')

<Gender 변경>
      gender  birth  marriage  religion  code_job  income  code_religion
0         여성   1936         2         2       NaN     NaN              1
1         여성   1945         2         2       NaN     NaN              1
2         남성   1948         2         2     942.0   120.0              1
3         남성   1942         3         1     762.0   200.0              1
4         여성   1923         2         1       NaN     NaN              1
...      ...    ...       ...       ...       ...     ...            ...
16659     여성   1967         1         1       NaN     NaN              5
16660     여성   1992         5         1     314.0   302.5              5
16661     남성   1995         5         1       NaN     NaN              5
16662     여성   1998         0         1       NaN     NaN              5
16663     남성   2001         0         1       NaN     NaN              5

[16664 rows x 7 columns]

<age 컬럼 추가>
      gender  birth  marriage  religion  code_job  income  code_religion  age
0         여성   1936         2         2       NaN     NaN              1   86
1         여성   1945         2         2       NaN     NaN              1   77
2         남성   1948         2         2     942.0   120.0              1   74
3         남성   1942         3         1     762.0   200.0              1   80
4         여성   1923         2         1       NaN     NaN              1   99
...      ...    ...       ...       ...       ...     ...            ...  ...
16659     여성   1967         1         1       NaN     NaN              5   55
16660     여성   1992         5         1     314.0   302.5              5   30
16661     남성   1995         5         1       NaN     NaN              5   27
16662     여성   1998         0         1       NaN     NaN              5   24
16663     남성   2001         0         1       NaN     NaN              5   21

[16664 rows x 8 columns]

# 월급 결측치 개수 구하기 before
12030

# 월급 결측치 개수 구하기 after
0
welfare['religion'].unique() :  [2 1]

<religion 변경>
      gender  birth marriage religion  code_job      income  code_religion  \
0         여성   1936      무응답       없음       NaN  241.619016              1
1         여성   1945      무응답       없음       NaN  241.619016              1
2         남성   1948      무응답       없음     942.0  120.000000              1
3         남성   1942       이혼       있음     762.0  200.000000              1
4         여성   1923      무응답       있음       NaN  241.619016              1
...      ...    ...      ...      ...       ...         ...            ...
16659     여성   1967       결혼       있음       NaN  241.619016              5
16660     여성   1992      무응답       있음     314.0  302.500000              5
16661     남성   1995      무응답       있음       NaN  241.619016              5
16662     여성   1998      무응답       있음       NaN  241.619016              5
16663     남성   2001      무응답       있음       NaN  241.619016              5

       age
0       86
1       77
2       74
3       80
4       99
...    ...
16659   55
16660   30
16661   27
16662   24
16663   21

[16664 rows x 8 columns]
welfare['code_job'].unique() [  nan  942.  762.  530.  999.  312.  254.  510.  286.  521.  773.  314.
  941.  951.  274.  873.  320.  952.  151.  152.  772.  852.  442.  991.
  422.  313.  710.  522.  399.  753.  851.  235.  231.  311.  721.  953.
  930.  863.  910.  392.  761.  922.  285.  875.  862.  421.  243.  223.
  252.  259.  771.  135.  245.  221.  751.  251.  141.  722.  246.  289.
  281.  741.  261.  247.  441.  864.  222.  411.  799.  743.  780.  149.
  891.  823.  159.  248.  874.  892.  241.  239.  791.  271.  871.  391.
  620.  131.  431.  811.  272.  429.  213.  842.  283.  284.  134.  611.
  236.  792.  855.  234.  861.  921.  253.  752.  841.  330.  233.  899.
  139.  432.  212.  423.  730.  273.  211.  412.  120.  992.  854.  822.
  831.  853.  832.  612.  821.  613.  774.  132. 1011.  237.  153.  133.
  224.  882.  242.  244.  232.  630.  742.  843. 1012.  881.  812.  819.
  111.  876.]

# merge()함수와 left_on, rigon_on 사용하기
     gender  birth marriage religion  code_job       income  code_religion  \
0        남성   1948      무응답       없음     942.0   120.000000              1
1        남성   1945       이혼       없음     942.0   220.200000              1
2        남성   1946       결혼       없음     942.0   139.000000              1
3        남성   1953       결혼       없음     942.0   150.000000              1
4        남성   1960       결혼       있음     942.0   166.000000              1
...     ...    ...      ...      ...       ...          ...            ...
7524     여성   1950       결혼       있음     819.0   241.619016              6
7525     남성   1960       결혼       있음     111.0   250.000000              7
7526     남성   1960       결혼       없음     111.0  1250.000000              1
7527     남성   1992      무응답       있음     876.0   280.000000              3
7528     남성   1935       결혼       있음     876.0   156.000000              3

      age                  job
0      74            경비원 및 검표원
1      77            경비원 및 검표원
2      76            경비원 및 검표원
3      69            경비원 및 검표원
4      62            경비원 및 검표원
...   ...                  ...
7524   72      기타 식품가공관련 기계조작원
7525   62  의회의원 고위공무원 및 공공단체임원
7526   62  의회의원 고위공무원 및 공공단체임원
7527   30    선박 갑판승무원 및 관련 종사원
7528   87    선박 갑판승무원 및 관련 종사원

[7529 rows x 9 columns]
welfare['code_religion'].unique() [1 2 3 4 7 5 6]
   age ageg
0   74   노년
1   77   노년
2   76   노년
3   69   노년
4   62   노년